@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

.dark {
  --background: #1a1a1a;
  --foreground: #ededed;
}

/* 이렇게 하면 아이콘도 바꿔야됨 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease;
}
